<header class="home-holder">
    <div class="over-layer d-flex align-items-center">
        <div class="home-content container-fluid mx-5 text-white animated fadeInUp">
            <h6 class="">Welcome To</h6>
            <h2 class="main-header">Engage Theme</h2>
            <p>Engage will change the way you create websites. Feature packed, one-click
                Demo Sites and Demo Pages, Premium extension, video tutoriles and so much more!
            </p>
            <div class="buttons">
                <button type="button" class="btn btn1">Learn More</button>
                <button type="button" class="btn btn2">VIEW PORTOFOLIO</button>
            </div>
        </div>
    </div>

</header>