.features {
    background: #f8f8f8;
}

.section2-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88px;
    height: 88px;
    line-height: 88px;
    font-size: 32px;
    margin: 0 auto 22px;
    border: 1px solid rgba(0, 0, 0, .15);
    color: rgba(0, 0, 0, .6);
    border-radius: 100%;
}

.section2-content {
    text-align: center;
}

.section2-p {
    font-size: 14px;
}