<button [class]="(show==true)?'showClass':'hideClass'" id="btnUp"
    class="btn rounded-circle p-2 text-white shadow-lg d-flex align-items-center justify-content-center">
    <i class='bx bx-up-arrow-alt' (click)="scrollTop()"></i>
</button>
<app-nav-bar></app-nav-bar>
<app-header></app-header>
<app-second-section id="welcome"></app-second-section>
<app-features></app-features>
<app-learn-about-us></app-learn-about-us>
<app-activities id="active"></app-activities>
<app-our-services></app-our-services>
<app-recent-work id="recent-work">
</app-recent-work>
<app-latest-news></app-latest-news>
<app-feeling-convinced></app-feeling-convinced>
<app-footer></app-footer>
<!-- <app-carousel></app-carousel> -->