<section class="learn-about-us mt-5 vh-100">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mt-5">
                <h2 class="mb-3">Learn about us</h2>
                <p class="py-3">We have been operating for over 30 years and are Members of The Federation of Master
                    Builders. We
                    work on projects big and small from small residential extensions to full house and commercial
                    builds and we are registered NHBC house builders.</p>
                <hr>
                <p class="mt-5 text-muted section3-p">
                    I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                </p>
            </div>
            <div class="col-md-6 offset-md-1">
                <img src="/assets/square-13-800x690.jpg" class="w-100" alt="">
            </div>
        </div>
    </div>
</section>