.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background-color: #11101d;
}

.side-bar .logo-details {
  height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-bar .logo-details i {
  font-size: 30px;
  color: #fff;
  min-width: 78px;
  text-align: center;
}

.side-bar .logo-details .logo-name {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
}

.side-bar .nav-links {
  height: 100%;
  overflow: auto;
}

.side-bar .nav-links::-webkit-scrollbar {
  display: none;
}

.side-bar .nav-links li {
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.side-bar .nav-links li:hover {
  background-color: #1d1b31;
}

.side-bar .nav-links a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-bar .nav-links a .link-name {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.side-bar .nav-links li i {
  color: #fff;
  line-height: 50px;
  font-size: 20px;
  min-width: 78px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.side-bar .nav-links li.showmenu i.arrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.side-bar .nav-links li .icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.side-bar .nav-links li .sub-menu {
  padding: 6px 6px 18px 80px;
  margin-top: -10px;
  background-color: #1d1b31;
  display: none;
}

.side-bar .nav-links li.showmenu .sub-menu {
  display: block;
}

.side-bar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0;
  pointer-events: none;
}

.side-bar.close .nav-links li a:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
}

.side-bar .nav-links li .sub-menu .submenu-name {
  display: none;
}

.side-bar.close .nav-links li .sub-menu .submenu-name {
  font-size: 18px;
  opacity: 1;
  display: block;
}

.side-bar .nav-links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.side-bar .nav-links li .sub-menu a:hover {
  opacity: 1;
  cursor: pointer;
}

.side-bar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.side-bar .profile-details {
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.side-bar .profile-details .profile-content img {
  width: 52px;
  height: 52px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
  padding: 10px;
}

.side-bar .profile-details .user-name,
.side-bar .profile-details .job {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.side-bar .profile-details .job {
  font-size: 12px;
}

.home-section {
  position: relative;
  background-color: #E4E9F7;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.side-bar.close ~ .home-section {
  left: 78px;
  width: calc(100% - 78px);
}

.home-section .home-content {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-section .home-content .bx-menu {
  margin: 0 15px;
}

.home-section .home-content .bx-menu,
.home-section .home-content .text {
  color: #11101d;
  font-size: 35px;
}

.home-section .home-content .text {
  font-size: 26px;
  font-weight: 600;
}
/*# sourceMappingURL=side-bar.component.css.map */